Week 2/Wednesday & Thursday/node-red-as-http-sever-esp32s-as-http-client/flows.json
[
    {
        "id": "75e1a87ada18aff0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4fb6392c58822435",
        "type": "http in",
        "z": "75e1a87ada18aff0",
        "name": "",
        "url": "/4200174",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "573704900bc09cd3"
            ]
        ]
    },
    {
        "id": "573704900bc09cd3",
        "type": "function",
        "z": "75e1a87ada18aff0",
        "name": "function 1",
        "func": "const data = {\n    id: 4200174,\n    name: \"Mohammed Alharsani\",\n    age: 22,\n    city: \"Al-Madinah Al-Munawwarah\"\n};\n\n// Set the response payload and content  type\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\n\n// Send the JSON response\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "8d1ec63e299c3cd2",
                "3e0a3c9d35e218bb"
            ]
        ]
    },
    {
        "id": "8d1ec63e299c3cd2",
        "type": "http response",
        "z": "75e1a87ada18aff0",
        "name": "response",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 780,
        "y": 300,
        "wires": []
    },
    {
        "id": "80781f57b1af5dea",
        "type": "http in",
        "z": "75e1a87ada18aff0",
        "name": "",
        "url": "/4002190",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "d6bdf3f974d58508"
            ]
        ]
    },
    {
        "id": "d6bdf3f974d58508",
        "type": "function",
        "z": "75e1a87ada18aff0",
        "name": "function 2",
        "func": "const data = {\n    id: 4002190,\n    name: \"Salem Ahmed\",\n    age: 24,\n    city: \"Jeddah\"\n};\n\n// Set the response payload and content type\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/json';\n\n// Send the JSON response\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "8d1ec63e299c3cd2",
                "3e0a3c9d35e218bb"
            ]
        ]
    },
    {
        "id": "3e0a3c9d35e218bb",
        "type": "debug",
        "z": "75e1a87ada18aff0",
        "name": "response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 380,
        "wires": []
    }
]
